{%- if section.blocks.size > 0 and section.settings.show_announcement_bar -%}
  <script src="{{ 'jquery.custom.js' | asset_url }}" defer></script>
  <div class="announcement-slider">
    {%- for block in section.blocks -%}
      <div class="slide">{{ block.settings.message }}</div>
    {%- endfor -%}
  </div>
{% endif %}
<style>
  .announcement-slider {
    background: #f3f3f3;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    color: #5c5c5c;
    font-size: 10px;
    text-transform: uppercase;
  }

  .announcement-slider .slide {
    padding: 0 5px;
  }

  @media screen and (min-width: 400px) {
    .announcement-slider {
      font-size: 12px;
    }

    .announcement-slider .slide {
      padding: 0 10px;
    }
  }
</style>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement_bar",
        "label": "Show"
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Autoplay"
      },
      {
        "type": "text",
        "id": "delay",
        "label": "Delay between transitions (in ms)",
        "default": "5000"
      },
      {
        "type": "color",
        "id": "colorBackground",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "colorText",
        "label": "Text color",
        "default": "#000"
      }
],
"blocks": [
      {
        "type": "header",
        "name": "Message",
        "settings": [
{
              "id": "message",
              "type": "textarea",
             "label": "Message"
            }
        ]
      }
]
  }
{% endschema %}
