<script src="{{ 'jquery.custom.js' | asset_url }}" defer></script>
<div class="Container">
  <div class="delivery-shipping-holder">
    <h2>Delivery & Shipping</h2>
    <ul class="accordion">
      <li>
        <span class="opener">Delivery Service Pakistan</span>
        <div class="slide">
          <ul>
            <li>Delivery is made within 3-5 working days from the moment your order is confirmed.</li>
            <li>Delivery is Monday through Saturday (excluding Public Holidays).</li>
            <li>Delivery will be free of cost within Pakistan for orders above Rs 1500/-</li>
            <li>Delivery is fully traceable, and you will be notified via SMS and email by the courier company.</li>
          </ul>
          <p>We aim to meet these delivery times, but during busy periods (including sale season) deliveries may take a little longer. Force majeure events, such as extreme weather conditions, may delay order delivery. GENERATION cannot be held liable for any parcels that are lost or stolen as a result of any specific delivery instructions left for the courier company.</p>
        </div>
      </li>
      <li>
        <span class="opener">Delivery Service (International)</span>
        <div class="slide">
          <ul>
            <li>Delivery is made within 5-7 working days from the moment your order is confirmed.</li>
            <li>Delivery is Monday through Saturday (excluding Public Holidays).</li>
            <li>Delivery costs will be calculated on the basis of your zip code in the check out section.</li>
            <li>Delivery is fully traceable, and you will be notified via SMS and email by the courier company.</li>
          </ul>
          <p>We aim to meet these delivery times, but during busy periods (including sale season) deliveries may take a little longer. Force majeure events, such as extreme weather conditions, may delay order delivery.</p>
          <p>International orders are subject to additional taxes mandated by local governments, therefore, GENERATION holds no liability as such and that cost must be borne by the Customer.</p>
          <p>GENERATION cannot be held liable for any parcels that are lost or stolen as a result of any specific delivery instructions left for the courier company.</p>
        </div>
      </li>
      <li>
        <span class="opener">Delayed Order/Missing Order</span>
        <div class="slide">
          <p>The estimated delivery date of an order is around 3-5 working days (within Pakistan) and 5-7 working days (international orders). Please allow for your order to arrive by this date.</p>
          <p>If your estimated delivery date has passed and you haven’t received your order, please contact customer service via email, phone, or social media with your order number. They will track your order for you.</p>
        </div>
      </li>
      <li>
        <span class="opener">Track My Order</span>
        <div class="slide">
          <p>If your order has been sent to you using a trackable service, you can follow its journey to you. You'll receive a shipping confirmation email from our warehouse once your order is on its way; simply click on your tracking link on this email to view the up to date tracking.</p>
        </div>
      </li>
    </ul>
  </div>
</div>