<style>
  .history-new-page img {
    width: 100%;
    height: auto;
  }
</style>

<div class="history-new-page">
  <div class="img">
    <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/history-img1.jpg" loading="lazy">
  </div>
  <div class="img">
    <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/history-img2.jpg" loading="lazy">
  </div>
  <div class="img">
    <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/history-img3.jpg" loading="lazy">
  </div>
  <div class="img">
    <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/history-img4.jpg" loading="lazy">
  </div>
  <div class="img">
    <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/history-img5.jpg" loading="lazy">
  </div>
  <div class="img">
    <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/history-img6.jpg" loading="lazy">
  </div>
  <div class="img">
    <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/history-img7.jpg" loading="lazy">
  </div>
  <div class="img">
    <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/history-img8.jpg" loading="lazy">
  </div>
</div>
