
<div class="container-page">
  <div class="page-heading">
    <div class="info">
      <p>&nbsp;</p>
      <h1><strong>ABOUT US</strong></h1>
      <p>&nbsp;</p>
      <p>Generation was envisioned in 1983 by a husband-wife duo, Saad and Nosheen Rahman, as a solution to the growing demand for affordable fashion by the urban Pakistani woman. Today this family’s ideology has culminated into a leading ready-to-wear womenswear brand that provides fresh products to their stores a few times each week with no repetition in design.</p>
      <p>The Generation Woman has since become an iconic symbol that holds this vision together, a woman who celebrates her family’s tradition with a permanent undertone of innovation and creativity.</p>
      <p>The Generation Story begins from a family and moves forward with the concept of building upon this family, whether it is customers, workers, students or so on. Each type of line is a further personification of her various faces, they represent her in different timeframes and moods. Festive, casual, young, demure......</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 order-md-2">
      <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/Woman.jpg?v=1667980391" alt="Gen-About-US"/>
    </div>
    <div class="col-md-6 order-md-1">
      <div class="text">
        <h2>WOMAN</h2>
        <p>The GENERATION woman line embodies a casual cool aesthetic relatable to the urban Pakistani woman of today. The design philosophy is a celebration of femin- inity and style, incorporating prints and embroideries from various sources of inspiration.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/Formals_df90f1c1-10e3-451a-89d5-0cd9d9fbd5be.jpg?v=1667980820" alt="Gen-About-US"/>
    </div>
    <div class="col-md-6">
      <div class="text">
        <h2>FORMALS</h2>
        <p> The Formals line features a variety of wedding and event wear. With the amalgamation of traditional and modern embellishments and printing techniques. GENERATION formals make for exquisite one of a kind pieces that would be treasured for years to come.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 order-md-2">
      <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/Classic.jpg?v=1667987613" alt="Gen-About-US"/>
    </div>
    <div class="col-md-6 order-md-1">
      <div class="text">
        <h2>CLASSIC</h2>
        <p>The GENERATION Classic line is all about timeless elegance. The designs rely on the revival of traditional embroidery patterns and techniques from around the world, rendering them into timeless wearable pieces that are appreciated by women of all ages.</p>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/Basic.jpg?v=1667987614" alt="Gen-About-US"/>
    </div>
    <div class="col-md-6">
      <div class="text">
        <h2>BASIC</h2>
        <p>The GENERATION Basic line designs minimal, no fuss clothing. The creative focus is on edgy cutlines. The line features comfortable yet fashion forward separates in solid colours in a variety of prints and jacquards.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 order-md-2">
      <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/cottage.jpg?v=1667987614" alt="Gen-About-US"/>
    </div>
    <div class="col-md-6 order-md-1">
      <div class="text">
        <h2>COTTAGE</h2>
        <p>GENERATION Cottage employs the unsung female arti- sans and craftswomen of various remote rural regions of Pakistan, in an effort to sustain local heritage and craft. Many of these women belong to conservative communities and are often not permitted to step outsi- de of their homes in order to work, hence GENERATION brings work to them at their very doorstep.</p>
      </div>
    </div>
  </div>
</div>

<style>
  .container-page{
    font-size: 13px;
    line-height: 21px;
  }
  
  .about-us-section p {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 24px;
  }

  .container-page img {
    width: 100%;
  }

  .container-page .row {
    display: flex;
    flex-wrap: wrap;
  }

  .container-page .text {
    padding: 10%;
  }

  .container-page .info {
    padding: 10%;
    border-bottom: 1px solid #000;
  }

  @media screen and (min-width: 768px) {
    .col-md-6 {
      width: 50%;
    }

    .order-md-1 {
      order: 1;
    }

    .order-md-2 {
      order: 2;
    }

    .container-page .text {
      padding: 13% 20%;
    }
  }
</style>

