

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
<section class="mt-0 flex min-h-screen flex-col overflow-hidden md:flex-row lg:grid lg:grid-cols-12">
  <div class=" border-r  border-pink-300/40 flex flex-1 flex-col items-start justify-center bg-pink-500/10 px-2 pt-4 pb-10 text-left lg:col-span-5 lg:px-5">
    <h1 class="mb-4 text-5xl font-bold leading-none text-pink-600 lg:text-6xl">We are Open!</h1>
    <h3 class="mb-5 text-3xl text-pink-500 lg:text-5xl">Islamabad</h3>
    <p class="leading-5 text-gray-800/60 lg:text-xl">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
    <button class="mt-7 rounded-full bg-gradient-to-tr from-pink-400 to-pink-500 hover:to-pink-900 drop-shadow-2xl py-2 px-5 text-2xl text-white"><a href="https://web.whatsapp.com/send?phone=+923410844484&amp;text&amp;app_absent=0" target="_blank" rel="noopener noreferrer"><strong>Jinnah Super, Islamabad</strong></a></button>
  </div>
  <div class="flex flex-1 items-center lg:col-span-7">
    <img src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/haris-dost.png?v=1668686376" />
  </div>
</section>

<style>
  .text-pink-500,
  .text-pink-600 {
    color: #000;
  }

  .bg-gradient-to-tr {
    background: #000;
  }

  .bg-gradient-to-tr:hover {
    background: gray;
  }

  .wk-icon.wk-link__icon {
    top: 0;
  }
</style>