<div class="press-page">
  <section class="static-page-banner">
<!--     <img
      src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/coverr_1.webp?v=1668595619"
      alt=""
    /> -->
    <h1 class="text-center text-uppercase">press</h1>
  </section>
  <div class="press-section">
    <div class="img">
      <a
        href="https://dailytimes.com.pk/894744/hyderabad-to-experience-its-first-generation-store/"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/7.webp?v=1668595618"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href="https://dailytimes.com.pk/894744/hyderabad-to-experience-its-first-generation-store/"
        >Hyderabad to experience its first ‘GENERATION’ store</a
      >
    </h2>
    <div class="text text-center">
      <p>
        GENERATION, Pakistan’s oldest premium ready-to-wear brand, will open its
        doors for the first time in Hyderabad on 5th March 2022. To celebrate
        the occasion and to experience the iconic ready-to-wear apparel
        firsthand, the event will be at their Fortune Arcade store in Qasimabad.
        The grand opening has a flat 20% off for the first 2 days on every
        purchase made!
      </p>
      <a
        class="read-more"
        href="https://dailytimes.com.pk/894744/hyderabad-to-experience-its-first-generation-store/"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a href="https://www.thenews.com.pk/tns/detail/965281-thinking-green"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/1_b6e49361-f673-48c0-a9b6-1b54dd9b9efc.webp?v=1668595616"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a href="https://www.thenews.com.pk/tns/detail/965281-thinking-green"
        >Khadija Rahman sheds light on Generation’s efforts to embrace
        sustainable fashion.</a
      >
    </h2>
    <div class="text text-center">
      <p>
        The times they are a-changin’. As the world slowly, gradually works
        towards embracing a greener future, both producers and consumers are
        increasingly becoming more environmentally conscious. Attitudes may vary
        and we may still have a long way to go when it comes to minimizing the
        impact of human actions on the ecosystem, but with increased awareness
        and more eco-fr&shy;iendly efforts, we are finally starting to move in
        the right direction.
      </p>
      <a
        class="read-more"
        href="https://www.thenews.com.pk/tns/detail/965281-thinking-green"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a href="https://www.thenews.com.pk/tns/detail/921343-a-womans-armour"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/2.webp?v=1668595615"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a href="https://www.thenews.com.pk/tns/detail/921343-a-womans-armour "
        >A woman’s armour</a
      >
    </h2>
    <div class="text text-center">
      <p>
        As fashion in Pakistan takes a rather neutral and streamlined turn in
        daily pret, we track this sartorial journey back to when kameezes kissed
        ankles, dupattas had to be three meters long, and what compelled us to
        rein it all in.
      </p>
      <a
        class="read-more"
        href=" https://www.thenews.com.pk/tns/detail/921343-a-womans-armour "
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a
        href=" https://www.thenews.com.pk/tns/detail/940520-craft-connection-generation-comes-to-hyderabad "
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/3.webp?v=1668595618"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href=" https://www.thenews.com.pk/tns/detail/940520-craft-connection-generation-comes-to-hyderabad "
      >
        Craft connection: Generation comes to Hyderabad
      </a>
    </h2>
    <div class="text text-center">
      <p>
        Opening its doors to Fortune Arcade – Hyderabad’s swankiest and newest
        address for fashion – Generation brought its palette of the season to
        the city by the river.
      </p>
      <a
        class="read-more"
        href=" https://www.thenews.com.pk/tns/detail/940520-craft-connection-generation-comes-to-hyderabad "
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a
        href=" https://www.bolnews.com/newspaper/bold/2022/03/of-craft-culture-generation-opens-first-store-in-sindh-outside-of-karachi/ "
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/4.webp?v=1668595619"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href=" https://www.bolnews.com/newspaper/bold/2022/03/of-craft-culture-generation-opens-first-store-in-sindh-outside-of-karachi/ "
      >
        Of craft &amp; culture – Generation opens first store in Sindh outside
        of Karachi
      </a>
    </h2>
    <div class="text text-center">
      <p>
        A name associated with the celebration of craft and culture; Generation
        has been a purveyor of the rich textile heritage of Pakistan. Now,
        adding to this history of 4 decades where the brand has stood for
        everything going right with fashion in the country, Generation opened
        its doors to the people of Hyderabad with its first ever store in Sindh
        located outside of Karachi.
      </p>
      <a
        class="read-more"
        href=" https://www.bolnews.com/newspaper/bold/2022/03/of-craft-culture-generation-opens-first-store-in-sindh-outside-of-karachi/ "
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a
        href=" https://www.thefridaytimes.com/2022/06/24/the-tidal-wave-of-sustainable-fashion-is-approaching-but-is-pakistan-catching-up/ "
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/5.webp?v=1668595619"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href=" https://www.thefridaytimes.com/2022/06/24/the-tidal-wave-of-sustainable-fashion-is-approaching-but-is-pakistan-catching-up/ "
      >
        The Tidal Wave Of Sustainable Fashion Is Approaching, But Is Pakistan
        Catching Up?
      </a>
    </h2>
    <div class="text text-center">
      <p>
        If major brands begin to think about sustainability as not just the end
        result, but also in terms of what goes on at the back end, at the
        workshops and the factories and the warehouses, perhaps we might have a
        chance to catch the wave after all.
      </p>
      <a
        class="read-more"
        href=" https://www.thefridaytimes.com/2022/06/24/the-tidal-wave-of-sustainable-fashion-is-approaching-but-is-pakistan-catching-up/ "
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a
        href=" https://www.thenews.com.pk/tns/detail/972432-fashion-forwardfrom-surplus-to-stunning-the-generation-potlis "
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/6.webp?v=1668595616"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href=" https://www.thenews.com.pk/tns/detail/972432-fashion-forwardfrom-surplus-to-stunning-the-generation-potlis "
      >
        Fashion Forward! From surplus to stunning: the GENERATION potlis
      </a>
    </h2>
    <div class="text text-center">
      <p>
        In a bid to become more eco-friendly, the environmentally-conscious,
        ready-to-wear clothing brand GENERATION has been making several efforts
        as they embrace sustainable fashion. Among them is the utilization of
        surplus fabrics to create accessories, including these striking little
        potlis.
      </p>
      <a
        class="read-more"
        href=" https://www.thenews.com.pk/tns/detail/972432-fashion-forwardfrom-surplus-to-stunning-the-generation-potlis "
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a href="https://images.dawn.com/news/1188194"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/8.webp?v=1668595616"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a href="https://images.dawn.com/news/1188194">
        Pakistan has a fast fashion problem and the solution could be as simple
        as going back to our roots
      </a>
    </h2>
    <div class="text text-center">
      <p>
        If you've been browsing the fashion side of the internet recently, you
        may have come across the term 'sustainable fashion'. There's a lot of
        discourse about the clothes we wear and how they were made but what
        exactly is sustainable fashion?
      </p>
      <a class="read-more" href="https://images.dawn.com/news/1188194"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a href="https://www.arabnews.pk/node/1675616/pakistan"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/1-arab-news.webp?v=1668595617"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a href="https://www.arabnews.pk/node/1675616/pakistan"
        >High street Eid collections in Pakistan exceed sales’ expectations
        online</a
      >
    </h2>
    <div class="text text-center">
      <p>
        RAWALPINDI: With Eid Al-Fitr just a week away in Pakistan, high street
        fashion brands found themselves facing their most profitable season of
        the year without traditional brick-and-mortar sales on their side-- and
        were forced to release their collections online.
      </p>
      <a class="read-more" href="https://www.arabnews.pk/node/1675616/pakistan"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a
        href="https://www.thenews.com.pk/tns/detail/566533-pakistans-fashion-industry-represent"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/3-TNS.webp?v=1668595616"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href="https://www.thenews.com.pk/tns/detail/566533-pakistans-fashion-industry-represent"
        >Who does Pakistan’s fashion industry represent?</a
      >
    </h2>
    <div class="text text-center">
      <p>
        Diversification within the fashion industry is on the up rise, now more
        than ever, if one goes by international ramps and campaigns. With
        designers showcasing their designs on a range of body types, skin tones,
        gender identities and ages, consumers are able to identify with many
        variations of beauty rather than trying to fit themselves into the
        standard of beauty/fashion ideals that are otherwise presented. The
        world is redefining the definition of both and designers are in the
        forefront expressing this change.
      </p>
      <a
        class="read-more"
        href="https://www.thenews.com.pk/tns/detail/566533-pakistans-fashion-industry-represent"
        >READ MORE</a
      >
    </div>
  </div>
  <!--<div class="press-section">
    <div class="img"><a href="https://elle.in/article/pakistani-fashion-label-generation/"><img src="https://generation-static.b-cdn.net/pub/media/StaticPageImages/4-elle.jpg" alt=""></a></div>
    <h2 class="text-uppercase text-center"><a href="https://elle.in/article/pakistani-fashion-label-generation/">As the Pakistani fashion label Generation turns 35, we look at what makes the brand tick</a></h2>
    <div class="text text-center">
    <p>I’m looking for a way to tell the story of Generation, a Pakistani ready-to-wear women’s clothing brand, that turns 35 years old this year, to you, a reader across the border in India who may never have heard of the company. How do you tell the story of a brand that is one of a handful to have survived for more than three decades here, its presence so indelible in the Pakistani retail landscape that scores of women know it by a misnomer – “Generations”, plural – that has been around for too long to correct now?</p>
    <a class="read-more" href="https://elle.in/article/pakistani-fashion-label-generation/">READ MORE</a></div>
    </div>-->
  <div class="press-section">
    <div class="img">
      <a
        href="https://indianexpress.com/article/lifestyle/fashion/shahnaz-ki-shaadi-campaign-by-pakistani-clothing-brand-4984304/lite/"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/resized.webp?v=1668595619"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href="https://indianexpress.com/article/lifestyle/fashion/shahnaz-ki-shaadi-campaign-by-pakistani-clothing-brand-4984304/lite/"
        >This powerful campaign by a Pakistani clothing brand to highlight
        marriage at any age is beautiful</a
      >
    </h2>
    <div class="text text-center">
      <p>
        This powerful social media campaign is breaking stereotypes and taboos
        surrounding marriage. It shows the various rituals of a traditional
        wedding ceremony of Shahnaz, the bride, who is getting married for the
        second time.
      </p>
      <a
        class="read-more"
        href="https://indianexpress.com/article/lifestyle/fashion/shahnaz-ki-shaadi-campaign-by-pakistani-clothing-brand-4984304/lite/"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a
        href="https://www.ozy.com/around-the-world/pakistans-fashion-designers-tackle-stereotypes-fear-and-hate/85461/"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/6-ozy.webp?v=1668595619"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href="https://www.ozy.com/around-the-world/pakistans-fashion-designers-tackle-stereotypes-fear-and-hate/85461/"
        >PAKISTAN'S FASHION DESIGNERS TACKLE STEREOTYPES, FEAR AND HATE</a
      >
    </h2>
    <div class="text text-center">
      <p>
        For a country obsessed with weddings, Pakistani clothing brand
        Generation’s choice of a marriage ceremony as the theme for a campaign
        last December appeared unsurprising. But there was nothing regular about
        the campaign called Shahnaz ki Shaadi, or Shahnaz’s Wedding.
      </p>
      <a
        class="read-more"
        href="https://www.ozy.com/around-the-world/pakistans-fashion-designers-tackle-stereotypes-fear-and-hate/85461/"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a href="https://www.arabnews.com/node/1287876/lifestyle"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/5-arab-news.webp?v=1668595616"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a href="https://www.arabnews.com/node/1287876/lifestyle"
        >Why everyone’s talking about Generation</a
      >
    </h2>
    <div class="text text-center">
      <p>
        ISLAMABAD: “I wouldn’t say we are tackling skin colorism. I think we are
        just challenging norms of beauty and want the debate to become wider and
        more inclusive in every way,” said Khadija Rahman.
      </p>
      <a
        class="read-more"
        href="https://www.arabnews.com/node/1287876/lifestyle"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a
        href="https://www.ozy.com/around-the-world/pakistans-fashion-designers-tackle-stereotypes-fear-and-hate/85461/"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/6-ozy.webp?v=1668595619"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href="https://www.ozy.com/around-the-world/pakistans-fashion-designers-tackle-stereotypes-fear-and-hate/85461/"
        >PAKISTAN'S FASHION DESIGNERS TACKLE STEREOTYPES, FEAR AND HATE</a
      >
    </h2>
    <div class="text text-center">
      <p>
        For a country obsessed with weddings, Pakistani clothing brand
        Generation’s choice of a marriage ceremony as the theme for a campaign
        last December appeared unsurprising. But there was nothing regular about
        the campaign called Shahnaz ki Shaadi, or Shahnaz’s Wedding.
      </p>
      <a
        class="read-more"
        href="https://www.ozy.com/around-the-world/pakistans-fashion-designers-tackle-stereotypes-fear-and-hate/85461/"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a
        href="https://www.thenews.com.pk/amp/290412-generation-continues-its-ethos-of-inclusivity"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/7-The_News_Int.webp?v=1668595618"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href="https://www.thenews.com.pk/amp/290412-generation-continues-its-ethos-of-inclusivity"
        >Generation continues its ethos of inclusivity</a
      >
    </h2>
    <div class="text text-center">
      <p>
        Generation, one of Pakistan’s pioneering high street fashion houses, has
        spent considerable time, through its many campaigns in recent history,
        to remind us that the rigid ideals of beauty and age that were once
        promoted excessively and exclusively across the world and in some ways
        are still promulgated through fairness creams endorsed by movie stars
        and size zero models at many, if not most fashion weeks, were and will
        continue to remain half-truths.
      </p>
      <a
        class="read-more"
        href="https://www.thenews.com.pk/amp/290412-generation-continues-its-ethos-of-inclusivity"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a href="https://images.dawn.com/news/1178557"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/8-images-Dawn.webp?v=1668595617"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a href="https://images.dawn.com/news/1178557"
        >Generation celebrates feminism again, this time with illustrator
        Shehzil Malik</a
      >
    </h2>
    <div class="text text-center">
      <p>
        Fashion meets art in a limited edition collection that is about to get
        stocked at Generation stores across the high street – and we’re not
        referring to your usual, phool-patti artistry here.
      </p>
      <p>
        Instead, joining hands with graphic designer/illustrator Shehzil Malik,
        Generation is seeking to make some strong feminist statements: a girl
        wearing a hijab riding a motorbike; another, with her hair open; girls
        with piercings, tattoos fair-skinned, dark-skinned; staring boldly out
        at the world.
      </p>
      <a class="read-more" href="https://images.dawn.com/news/1178557"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a href="https://aurora.dawn.com/news/1141213/cover-story-the-pret-effect"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/9-aurora.webp?v=1668595617"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a href="https://aurora.dawn.com/news/1141213/cover-story-the-pret-effect"
        >Cover Story – The Pret Effect</a
      >
    </h2>
    <div class="text text-center">
      <p>
        Two decades ago, urban Pakistan was a pretty dull place in terms of
        branded shopping. There was barely any organised retail and the
        ubiquitously unflattering ‘free size’ kurta was the only option
        available to women who wanted reasonably priced ready to wear clothing.
        But then again, Pakistani women were more than happy to buy unstitched
        fabric, along with buttons, lace and piping and then take the lot to the
        tailor for a custom-made jora, even if the process was hassle-ridden at
        the best of times.
      </p>
      <a
        class="read-more"
        href="https://aurora.dawn.com/news/1141213/cover-story-the-pret-effect"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a href="https://www.thenews.com.pk/tns/detail/560959-dot-walked-line"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/10-TNS.webp?v=1668595618"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a href="https://www.thenews.com.pk/tns/detail/560959-dot-walked-line"
        >The dot that walked out of line</a
      >
    </h2>
    <div class="text text-center">
      <p>
        Khadija Rahman, hot on the heels of her debut success for Generation at
        Fashion Pakistan Week, talks about revamping the brand and reinserting
        some intellect in todays ‘it’ world of fashion.
      </p>
      <p>
        This year marks 33 years in the business of fashion for Generation.
        Surviving, if not thriving for more than three decades in retail is an
        accolade in itself for any brand and Generation has more than merely
        survived. A staple of the fashion circuit in the late ’80s and
        throughout the ’90s when there weren’t many options available for
        ready-to-wear, the iconic brand suffered a slump through the first half
        of the new millennia, only to pick up its game and return to consumers
        with a new identity but retaining the same eclectic ethos. Spearheading
        this revamp is creative director Khadija Rahman, taking on the baton
        from her mother Nosheen.
      </p>
      <a
        class="read-more"
        href="https://www.thenews.com.pk/tns/detail/560959-dot-walked-line"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a href="https://www.siddysays.com/interview-khadija-rahman/"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/11-siddysays.webp?v=1668595618"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a href="https://www.siddysays.com/interview-khadija-rahman/"
        >INTERVIEW: KHADIJA RAHMAN</a
      >
    </h2>
    <div class="text text-center">
      <p>
        She is young, charming, entrepreneurial and very well grounded. We sat
        down with Khadija Rahman, Creative Director of GENERATION who is one
        dynamic business woman and a hands on mom!
      </p>
      <a
        class="read-more"
        href="https://www.siddysays.com/interview-khadija-rahman/"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a href="https://www.thenews.com.pk/tns/detail/558570-the-new-generation"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/12-TNS.webp?v=1668595617"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a href="https://www.thenews.com.pk/tns/detail/558570-the-new-generation"
        >The new Generation</a
      >
    </h2>
    <div class="text text-center">
      <p>
        The massive red brick structure is imposing yet grand; trees that have
        lived through the rise and fall of decades of fashion trends line the
        courtyard and the lush green patch of greenery outside conjures up
        visions of lazy Sunday picnics with the family.
      </p>
      <a
        class="read-more"
        href="https://www.thenews.com.pk/tns/detail/558570-the-new-generation"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a
        href="https://tribune.com.pk/story/870390/trip-through-refined-aesthetics"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/13-tribune.webp?v=1668595618"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href="https://tribune.com.pk/story/870390/trip-through-refined-aesthetics"
        >Trip through refined aesthetics</a
      >
    </h2>
    <div class="text text-center">
      <p>
        LAHORE: Even when prêt wasn’t all the rage and women were still making
        their rounds to their tailors, Generation set the precedent of having
        ready to wear available in ‘small’, ‘medium’ and ‘large’ sizes. It has
        dominated the fashion front for a long time is Generation. People
        associate with the label as one of the pioneers of fast fashion.
      </p>
      <a
        class="read-more"
        href="https://tribune.com.pk/story/870390/trip-through-refined-aesthetics"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a href="https://www.dawn.com/news/777994/the-generation-of-clothes"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/14-dawnn.webp?v=1668595619"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a href="https://www.dawn.com/news/777994/the-generation-of-clothes"
        >The Generation of clothes</a
      >
    </h2>
    <div class="text text-center">
      <p>
        With seven stores countrywide, Generation is a household name when it
        comes to women’s fashion in Pakistan. Playing true to its name,
        Generation strives to serve one generation of women after another, with
        sincerity. Unlike other garments which underwent mass-production, its
        clothes are dyed, screen-printed and embroidered by hand. Here’s a look
        at the design process in Generation’s factory on Ferozepur Road in
        Lahore. -Text and photos by Nushmia Khan
      </p>
      <a
        class="read-more"
        href="https://www.dawn.com/news/777994/the-generation-of-clothes"
        >READ MORE</a
      >
    </div>
  </div>
  <div class="press-section">
    <div class="img">
      <a
        href="https://tribune.com.pk/story/60513/we-make-practical-clothes-for-real-women"
        ><img
          src="https://cdn.shopify.com/s/files/1/0650/8249/1105/files/15-tribune.webp?v=1668595616"
          alt=""
      /></a>
    </div>
    <h2 class="text-uppercase text-center">
      <a
        href="https://tribune.com.pk/story/60513/we-make-practical-clothes-for-real-women"
        >‘We make practical clothes for real women’</a
      >
    </h2>
    <div class="text text-center">
      <p>
        KARACHI:Whether it’s a casual day at her workplace or an evening out
        with her family, 25-year-old Sobia Asad is usually dressed in a
        Generation outfit. Asad said the realisation that this was ‘the’ store
        for her came a few years ago. “My mother used to shop for me and often
        would buy clothes from Generation. But I realised this was the perfect
        choice for me when I started to shop on my own. They have outfits in all
        sizes, the designs are good and the fitting is simply perfect.”
      </p>
      <a
        class="read-more"
        href="https://tribune.com.pk/story/60513/we-make-practical-clothes-for-real-women"
        >READ MORE</a
      >
    </div>
  </div>
</div>

<style>
  .text-uppercase {
    text-transform: uppercase
  }

  .text-center {
    text-align: center;
  }

  .press-page img {
    width: 100%;
    height: auto;
  }
  
  .static-page-banner h1 {
    font-size: 40px;
    line-height: 1em;
    padding: 45px;
    border: 1px solid #000;
    margin: 0;
  }
  @media (max-width:1199px) {
      .static-page-banner h1 {
      font-size: 36px;
      padding: 30px;
  }
  }@media (max-width:991px) {
      .static-page-banner h1 {
      font-size: 30px;
      padding: 20px;
  }
  }@media (max-width:767px) {
      .static-page-banner h1 {
      font-size: 24px;
  }
  }
  .sustainability-section, .press-section {
    border: 1px solid #000;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  @media (max-width:1199px) {
      .sustainability-section, .press-section {
      margin-bottom: 40px;
      padding-bottom: 40px;
  }
  }@media (max-width:991px) {
      .sustainability-section, .press-section {
      padding-bottom: 30px;
      margin-bottom: 30px;
  }
  }@media (max-width:767px) {
      .sustainability-section, .press-section {
      padding-bottom: 20px;
  }
  }.sustainability-section .img, .press-section .img {
      border-bottom: 1px solid #000;
      margin-bottom: 50px;
  }
  @media (max-width:1199px) {
      .sustainability-section .img, .press-section .img {
      margin-bottom: 40px;
  }
  }@media (max-width:991px) {
      .sustainability-section .img, .press-section .img {
      margin-bottom: 30px;
  }
  }@media (max-width:767px) {
      .sustainability-section .img, .press-section .img {
      margin-bottom: 20px;
  }
  }.sustainability-section h2, .press-section h2 {
      font-size: 27px;
      margin: 0;
      padding: 0 15px 20px;
  }
  @media (max-width:1199px) {
      .sustainability-section h2, .press-section h2 {
      font-size: 24px;
  }
  }@media (max-width:991px) {
      .sustainability-section h2, .press-section h2 {
      font-size: 20px;
  }
  }@media (max-width:767px) {
      .sustainability-section h2, .press-section h2 {
      font-size: 18px;
  }
  }.sustainability-section h2 a, .press-section h2 a {
      color: #000;
  }
  .sustainability-section h2 a:hover, .press-section h2 a:hover {
      color: #afafaf;
      text-decoration: none;
  }
  .sustainability-section .text, .press-section .text {
      font-size: 13px;
      line-height: 27px;
      max-width: 800px;
      margin: 0 auto;
      padding: 0 15px;
  }
  @media (max-width:991px) {
      .sustainability-section .text, .press-section .text {
      line-height: 20px;
  }
  }.sustainability-section .open-close.active .opener:after, .press-section .open-close.active .opener:after {
      content: "\e91e"}
  .sustainability-section .open-close.active .opener .more, .press-section .open-close.active .opener .more {
      display: none;
  }
  .sustainability-section .open-close.active .opener .less, .press-section .open-close.active .opener .less {
      display: inline;
  }
  .sustainability-section .open-close .opener, .press-section .open-close .opener {
      font-size: 15px;
      cursor: pointer;
      position: relative;
      display: inline-block;
      vertical-align: top;
      padding-right: 40px;
      margin-left: 40px;
  }
  @media (max-width:767px) {
      .sustainability-section .open-close .opener, .press-section .open-close .opener {
      padding-right: 30px;
      margin-left: 30px;
  }
  }.sustainability-section .open-close .opener:after, .press-section .open-close .opener:after {
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-family: "icomoon";
      content: "\e91f";
      position: absolute;
      right: 0;
      top: 50%;
      font-size: 28px;
  }
  @media (max-width:767px) {
      .sustainability-section .open-close .opener: after, .press-section .open-close .opener:after {
      font-size: 20px;
  }
  }.sustainability-section .open-close .opener .less, .press-section .open-close .opener .less {
      display: none;
  }
  .sustainability-section .open-close .opener:hover, .press-section .open-close .opener:hover {
      color: #afafaf;
  }
  .sustainability-section .read-more, .press-section .read-more {
      font-size: 15px;
      color: #000;
  }
  .sustainability-section .read-more:hover, .press-section .read-more:hover {
      color: #afafaf;
      text-decoration: none;
  }
</style>