<script src="{{ 'jquery.custom.js' | asset_url }}" defer></script>
<div class="Container">
  <div class="order-issue-holder">
    <h2>Order Issues</h2>
    <ul class="accordion">
      <li>
        <span class="opener">Missing or faulty item</span>
        <div class="slide">
          <p>If you discover a fault, please <a class="contact" href="tel:+924232500964">contact</a> our Customer Service team with:</p>
          <ul>
            <li>The order number</li>
            <li>The faulty item's name and number</li>
            <li>A description of the fault</li>
            <li>Images of the fault</li>
          </ul>
        </div>
      </li>
      <li>
        <span class="opener">Wrong Order</span>
        <div class="slide">
          <p>Please <a class="contact" href="tel:+924232500964">contact</a> our Customer Service team with:</p>
        </div>
      </li>
      <li>
        <span class="opener">Order Cancellation</span>
        <div class="slide">
          <p>Once an order is placed our Customer Service team will get in touch with you to confirm your order. If the order is not confirmed within 48-72 hours or we have been unable to get in touch with you, please <a class="contact" href="tel:+924232500964">contact</a> our Customer Service team with your order number or the order will be cancelled. Once an order is confirmed it can not be cancelled.</p>
        </div>
      </li>
      <li>
        <span class="opener">Order Amendment</span>
        <div class="slide">
          <p>Orders cannot be changed once they are placed.</p>
        </div>
      </li>
    </ul>
  </div>
</div>