<script src="{{ 'jquery.custom.js' | asset_url }}" defer></script>
<div class="Container">
  <div class="return-exchange-holder">
    <h2>Return & Exchange</h2>
    <ul class="accordion">
      <li>
        <span class="opener">Exchange Policy – Pakistan</span>
        <div class="slide">
          <p>Items bought online can be exchanged online for a different size or a different colour only if the original item was wrongfully shipped to you or was faulty. This would include a wrong size, wrong silhouette or wrong colour. The item will be scheduled for a pick up with proper tags and packing. The item will be replaced with a new order free of charge. Please note that all exchanges are subject to availability of the item. In case the item is no longer available you will be generated a coupon code (Used online and valid for 2 months). Please note that shipping charges will not be reimbursed.</p>
          <p>For SALE items we can only exchange the size of the article (If available) otherwise article will not be exchanged.</p>
        </div>
      </li>
      <li>
        <span class="opener">Exchange Policy – International Customers</span>
        <div class="slide">
          <p>Unfortunately we do not exchange on orders shipped internationally but Items that have been wrongfully delivered in terms of size, colour, silhouette or are faulty will be refunded according to our refund policy. There will be no refund on shipping charges.</p>
        </div>
      </li>
      <li>
        <span class="opener">Exchange At The Generation Store</span>
        <div class="slide">
          <p>Exchanges are complimentary at all Pakistan based GENERATION stores for sizes only. Please note that items bought in stores cannot be exchanged online. When making an exchange at one of our stores, please bring your original packing list and the items you wish to exchange in their original receipt to expedite the process.</p>
        </div>
      </li>
      <li>
        <span class="opener">Exchange On Faulty Items</span>
        <div class="slide">
          <p>You can always exchange items if they are defective or sent incorrectly. Please know that you must provide us a written record of the reason for return or exchange within 24 hours of receiving the item. Items that have been used will not be accepted as returns or exchanges. Items which have any stains, emit body odors or perfume scents, have any kind of marks, damages or water stains will not be accepted for returns or exchange. Items will be exchanged at current prevailing price. Please contact our Customer Service team with your order number and the faulty item's name and product number.</p>
        </div>
      </li>
      <li>
        <span class="opener">Refund Policy</span>
        <div class="slide">
          <p>All merchandise shipped in defected or faulty condition may be returned to GENERATION’s online store. A request for exchange or coupon code should be placed within 24 hours of receiving the order with proof of defect.</p>
          <p>Within Pakistan, the defected merchandise will be picked up by the courier service. Please note that the item must be in original packing and tags.</p>
          <p>Please note that no cash refunds will be made.</p>
          <p>Most returns will process in approximately 2–3 weeks after the complaint has been forwarded. Additional processing delays may occur. </p>
        </div>
      </li>
      <li>
        <span class="opener">Out Of Stock Refunds</span>
        <div class="slide">
          <p>In cases where the item is out of stock you will contacted by customer service for the following:</p>
          <ul>
            <li>A request to generate coupon code (Used only online valid for 2 months).</li>
            <li>Request customer to pick any article from webiste (Difference in amount is paid by the customer if the required article is expensive or if the required article is less in monetary value the difference is settled through coupon code).</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>